<!--start-film-all-->
<div class="container">
  <div class="col-sm-3">
    <div class="row row-film-all">
      <div class="thumbnail thumbnail-body-film">
        <a href="#">
          <div class="panel-heading">
            <img class="img-responsive" src="/assets/bootstrap/img/media.jpg" alt="">
            <div class="hover-img"><a href="#"><button type="button" class="btn btn-primary">سبد خرید</button></a></div>
          </div>
          <div class="panel-body">
            <a href="#"><span><i class="fa fa-circle"></i>طراحی گرافیکی با فتوشاپ</span></a>
          </div>
        </a>
        <a href="#">
          <div class="panel-footer">
            <img class="img-responsive img-circle" src="/assets/bootstrap/img/default.png" alt="">
            <span class="pull-left">رسول صیدی پیری</span>
          </div>
        </a>
      </div>
    </div>
    <div class="caption">
      <a>48000تومان</a>
      <span><i class="fas fa-clock-o"></i>12:24</span>
      <span><i class="fas fa-download"></i>12344</span>
    </div>
  </div>
</div>
<!--end-film-all-->
