<!--start-login-->
<div class="container-fluid">
  <div class="container">
    <div class="form-container sign-in-container">
      <form action="#">
        <h1>ورود</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>از حساب کاربری خود استفاده کنید</span>
        <input type="email" placeholder="ایمیل" />
        <input type="password" placeholder="رمز عبور" />
        <a href="#">فراموش کردن پسورد؟</a>
        <button>ورود</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <img class="img-responsive" src="../../../assets/bootstrap/img/login.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>







<!--end-login-->
