<!--start-login-->
<div class="container-fluid">
  <div class="container">
    <div class="form-container sign-up-container">
      <form action="#">
        <h1>ثبت نام در سایت</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span> از ایمیل خود برای ثبت نام استفاده کنید</span>
        <input type="text" placeholder="نام" />
        <input type="email" placeholder="ایمیل" />
        <input type="password" placeholder="گذر واژه" />
        <input type="password" placeholder="تکرار گذر واژه" />
        <button>ثبت نام</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <img class="img-responsive" src="../../../assets/bootstrap/img/register.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <!--end-login-->
