<!-- start-header-->
<div class="container-fluid">
  <div class="row row-header">
      <span>اکادمی  حرفه ای آموزشی ارایه بهترین دوره های آموزشی برای ورود به بازار کار</span>
     <div class="col-md-6 col-md-offset-3 search">
       <form class="form-horizontal" action="#" method="post" role="form">
         <input class=" pull-right col-xs-10 col-md-11" type="text" name="txt" placeholder="جستجو">
         <button class="pull-left" type="submit" name="submit" ><i class="fas fa-search"></i></button>
       </form>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <a  href="#">طراحی سایت</a>
      <a  href="#">بازار کار</a>
    </div>
  </div>
</div>
<!--end-header-->
