<!-- start-header-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="myslider" class="carousel slide" data-ride="carousel" >
        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#myslider" data-slide-to="0" class="active"></li>
          <li data-target="#myslider" data-slide-to="1"></li>
          <li data-target="#myslider" data-slide-to="2"></li>
        </ol>
        <!--container of slider-->
        <div class="carousel-inner">
          <div class="item active">
            <img class="img-responsive" src="assets/bootstrap/img/slider2.jpg">
            <div class="carousel-caption">
              <h3>همراه دانش</h3>
              <P>بهترین سایت برای آموزش و طراحی سایت حرفه ای </P>
            </div>
          </div>
          <div class="item">
            <img class="img-responsive" src="assets/bootstrap/img/slider2.jpg">
            <div class="carousel-caption">
              <h3>تیم همراه دانش</h3>
              <P>اعضاه تیم حرفه ای همراه دانش با ما حرفه ای باشید و حرفه ای عمل کنید</P>
            </div>
          </div>
          <div class="item">
            <img class="img-responsive" src="assets/bootstrap/img/slider2.jpg">
            <div class="carousel-caption">
              <h3>نمونه کارهای همراه دانش</h3>
              <P>بهترین و حرفه ای ترین سایت های که توسط تیم همراه دانش طراحی شده است</P>
            </div>
          </div>
          <!-- nav control-->
          <a class="left carousel-control" data-target="#myslider" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
          <a class="right carousel-control" data-target="#myslider" data-slide="next">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end-header-->
