<!--start-contact-us-->
<div class="container-fluid">
  <div class="col-md-6">
    <div class="row row-contact-right">
      <div class="caption">
        <span><i class="fas fa-headphones"></i></span>
        <p>این فرم جهت ثبت درخواست شما فراهم شده که توسط کارشناسان تیم بررسی میشود.</p>
      </div>
      <div class="panel-body">
        <form method="post" role="form" class="form-horizontal" action="#" id="contact-us">
          <div class="col-xs-8 col-xs-offset-2">
            <div class="form-group  input-group">
              <span class="input-group-addon"><i class="fas fa-user-graduate"></i></span>
              <input class="form-control" name="name" type="text" placeholder="نام خانوادگی">
              <span class="input-group-addon" data-trigger="hover" data-toggle="popover" title="www.HD724.com"
                    data-content="لطفا نام و نام خانوادگی خود را درست وارد کنید که در زمانهای با مشکل مواجع میشوید بتئانیم ارتباط خوبی با شما بر قرار کنیم با تشکر!" data-placement="top"><i class="fas fa-question-circle"></i></span>
            </div>
          </div>
          <div class="col-xs-8 col-xs-offset-2">
            <div class="form-group  input-group">
              <span class="input-group-addon"><i class="fa fa-phone"></i></span>
              <input class="form-control" name="tel" type="text" placeholder="تلفن">
              <span class="input-group-addon" data-trigger="hover" data-toggle="popover" title="www.HD724.com"
                    data-content="لطفا شماره تلفن خود را درست وارد کنید تا بتوانیم با شما در ارتباط باشیم!" data-placement="top">
                    <i class="fas fa-question-circle"></i>
                  </span>
            </div>
          </div>
          <div class="col-xs-8 col-xs-offset-2">
            <div class="form-group  input-group">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <input class="form-control" name="email" type="email" placeholder="ایمیل">
              <span class="input-group-addon" data-trigger="hover" data-toggle="popover" title="www.HD724.com"
                    data-content="کاربر گرامی این فیلد به عنوان نام کاربری در ورود به سایت استفاده میشود در وارد کردن این فیلد دقت فرمایید با تشکر!" data-placement="top">
                    <i class="fas fa-question-circle"></i>
                  </span>
            </div>
          </div>
          <div class="col-xs-8 col-xs-offset-2">
            <div class="form-group  input-group">
              <span class="input-group-addon"><i class="fa fa-thumb-tack"></i></span>
              <input class="form-control" name="subject" type="text" placeholder="موضوع">
              <span class="input-group-addon" data-trigger="hover" data-toggle="popover" title="www.HD724.com"
                    data-content="کاربر گرامی لطفا موضوع خود را شرح دهید" data-placement="top">
                    <i class="fas fa-question-circle"></i>
                  </span>
            </div>
          </div>
          <div class="col-xs-8 col-xs-offset-2">
            <div class="form-group  input-group">
              <textarea class="form-control" name="subject1" placeholder="متن مورد نظر خود را تایپ کنید"></textarea>
              <span class="input-group-addon" data-trigger="hover" data-toggle="popover" title="www.HD724.com"
                    data-content="در این فیلد باید موضوع یا شرح حالی از صحت ها گفته شود" data-placement="top">
                    <i class="fas fa-question-circle"></i>
                  </span>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-1">
            <button type="submit" class="btn btn-danger col-xs-10 col-xs-offset-1" name="tbnsubmit">ارسال </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row row-contact-left">
      <div class="caption">
        <span><i class="fas fa-headphones"></i></span>
        <p>تماس با ما</p>
      </div>
      <div class="panel-body">
        <div class="col-md-2">
          <span><i class="fas fa-phone"></i>تلفن</span>
          <span><i class="fas fa-fax"></i>فکس</span>
          <span><i class="fas fa-envelope"></i>ایمیل</span>
          <span><i class="fas fa-map-marker-alt"></i>نشانی</span>
          <span><i class="fas fa-headphones"></i>مراجع</span>
        </div>
        <div class="col-md-10">
          <ul>
            <li><span class="pull-right">09169651136-0916000000</span></li>
            <li><span>021-33264585_021-33261221</span></li>
            <li><span>HD724@info.com</span></li>
            <li><span>تهران-خیابان ولیعصر خیابان مختاری کوچه حسین زاده پلاک 32 واحد4 </span></li>
            <li><span>به جز روزهای تعطیل 7 روز هفته 24 ساعت در خدمت شما عزیزان و سروران گرامی میباشیم</span></li>
          </ul>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end-contact-us-->
